
<div id="hero" class="img-responsive">
<div class="hero-container">
<div class="container">

  <form>
    <div class="row" >
     <h4>{{word.header}}</h4>   
       </div>
       <div class="row" id="content">
         <div class="input-group input-group-icon, form-group">
            <input type="password" class="form-control" id="Password"
            required
            minlength="5"
            [(ngModel)]="info.password" name="Password" placeholder={{word.passwordPlaceholder}}
            />
        </div>
        <div class="input-group input-group-icon, form-group">
            <input type="password" class="form-control" id="confirmPassword"
            required
            [(ngModel)]="info.confirmPassword" name="confirm" placeholder={{word.confirmPasswordPlaceholder}}
            />
        </div>

    </div>
    <!-- Button for Submit -->
    <button id="change" type="button"  class="btn btn-outline-success" (click)=changePassword(info)>{{word.button}}</button><br/><br/>

    <br><div class="pull-right col-lg-4 col-xs-12"></div>  </form>

</div>
</div>
</div>
