<div id="hero" class="img-responsive">
<div class="hero-container">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #forgetForm="ngForm">
      <div class="row" >
        <h4 id="h4">{{word.forgetPassHeader}}</h4>
      </div>
      <div class="row" id="content">
        <div class="input-group input-group-icon,form-group">
          <input type="email"  class="form-control"
          name="email"
          id="emailaddress"
          [(ngModel)]="data.email"
          placeholder={{word.placeholder}}
          required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
          #email="ngModel"/>
        </div>
        <div [hidden]="email.valid || email.pristine"
        class="alert alert-danger">
        <div [hidden]="!email.hasError('required')">Email is required</div>
        <div [hidden]="!email.hasError('pattern')">Email format should be 
          <small id="placeholder"><b>joe@abc.com</b></small>
        </div>
      </div> 
      <!-- Button for Submit -->
      <button  type="button" class="btn btn-outline-success" id="verify" title="submit" (click)=verifyEmail(data)>{{word.button}}</button>
    </div>
    <br><div class="pull-right col-lg-4 col-xs-12"></div> 
  </form>
</div>
</div>
</div>

