	<!--A Design by W3layouts
	Author: W3layout
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
	<!--A Design by W3layouts
	Author: W3layout
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<div class="wrap">
	<div class="main">
		<h3>{{word.expenseManager}}</h3>
		<h1>{{word.oops}}</h1>
		<p>{{word.err}} <span class="error">{{error_name}}</span>.<br>
			<span>{{word.text}}</span></p>
			<button  routerLink='/welcome'>{{word.back}}</button>
			<div class="icons">
				<p>{{word.follow}}</p>
				<ul>
					<li><a href="#"><img src="./../../assets/img1.png"></a></li>
					<li><a href="#"><img src="./../../assets/img2.png"></a></li>
					<li><a href="#"><img src="./../../assets/img3.png"></a></li>		    
				</ul>	
			</div>
		</div>
		<div class="footer">
			<p>{{word.design}}<a href="http://w3layouts.com/">{{word.layout}}</a></p>
		</div>
	</div>
	


